/* 
.bggroup .bgimg{
    width: 500px;
    height: 500px;
    opacity: 30%;
    margin-left: 30%;
    margin-top: 50px;
}
.collect{
    padding-left: 70px;
    position: absolute;
    top: 90px;
}
.collect h2{
    text-align: start;
}
.collect img{
    height: 50px;
}
input {
    width: 600px;
    height: 50px;
    border: 2px solid #0F2F1D;
    border-radius: 10px;
    padding-left: 10px;
    background: transparent;
}
input::placeholder{
    font-family: 'jost', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}
.inputgroup button{
    width: 150px;
    height: 40px;
    background: #0F2F1D;
    border-radius: 5px;
    color: #ffff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    position: relative;
    margin-left: -170px;
}
.inputgroup button:hover{
    background: #508d6a;
}
.inputgroup button img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.pool
{
    display: flex;
    margin-top: 150px;
    margin-left: 130px;
}
.pool h3{
    margin-left: 20%;
}
.pool button{
    width: 150px;
    height: 40px;
    color: #2C8C57;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    background-color: #ffff ;
    background: transparent;
    border: 1px solid #0F2F1D;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 15px;
}
.pool button:hover{
    color: #fff;
    background: #2C8C57;
}
.collect .itemgroup{
    width: 700px;
    height: 400px;
    background: #EFF6F2;
    border-radius: 10px;
    margin-left: 35%;
    margin-bottom: 70px;
    margin-top: 45px;
}
.itemgroup .headers{
    display: flex;
    width: 650px;
    margin-left: 70px;
}
.itemgroup .headers h3{
    margin-left: 35px;
}
.item{
    display: flex;
    justify-content: space-evenly;
}
.item .imggroup{
 display: flex;
}
.item button{
    width: 150px;
    height: 45px;
    background: #0F2F1D;
    border-radius: 5px;
    font-family: 'Jost', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;

}
.item button:hover{
    background: #2C8C57;
} */
