@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
.App{
  box-sizing: border-box;
}
body{
  font-family: 'Jost', sans-serif;
}


.rewardtop{
  background: #E7F2EC;
 
}
.rewardtop h1, .rewardtop p{
  font-family: 'Jost', sans-serif;
  color: #222222;

}

.rewardtop button{
background: #0F2F1D;
font-family: 'Jost', sans-serif;
color: #FFFFFF;
}
.rewardtop button:hover{
  color: #0F2F1D;
  background: #FFFFFF;
}

.rewardtop .left h3{
color: #222222;
}

.rewardbottom{
  background: #CFE5D9;  
}
.rewardbottom h1{
color: #222222;
/* font-weight: 500;
font-size: 18px; */
@apply text-lg;
@apply font-medium;
@apply sm:font-medium;
@apply md:text-xl;
@apply md:font-semibold;

}


.rewardbottom img{
  @apply mr-4;
  @apply h-20;
  @apply sm:h-24;
  @apply md:h-36;
  
}
.imggroup1, .imggroup2, .imggroup3{
  @apply flex;
}
.rewardbottom p{
  color: #222222;
  @apply font-light;
  @apply text-sm;
  @apply md:font-light;
  @apply md:text-lg;

}


.technology{
  background: #2C8C57;  
}

.technology h1{
  
color: #FFFFFF;

}

.technology .group1 p{
@apply text-sm;
@apply font-light;
@apply mt-4;
@apply md:font-normal;
@apply md:text-lg;
color: #FFFFFF;
}
.technology  h3{
color: #FFFFFF;
}


.technology .group2 .left h2{

color: #FFFFFF;
}
.technology .group2 .right{

color: #FFFFFF;
}

.about h2{
 
color: #222222;


}
.about p{
@apply mt-4;
@apply text-sm;
@apply font-light;
@apply md:text-lg;

color: #222222;

}
.about h3{
  @apply mt-4;
  @apply font-normal;
  @apply sm:font-medium;
  @apply text-lg;
}
