.react-tel-input .form-control {
  position: relative;
  /* font-size: 14px; */
  /* letter-spacing: 0.01rem; */
  /* margin-top: 0 !important; */
  /* margin-bottom: 0 !important; */
  padding-left: 48px;
  /* margin-left: 0; */
  /* background: #ffffff; */
  /* border: 1px solid #cacaca; */
  /* border-radius: 5px; */
  /* line-height: 25px; */
  /* height: 35px; */
  /* width: 300px; */
  outline: none;

  @apply border-[#0F2F1D]
  w-full rounded-lg font-normal border-[3px] bg-transparent py-3.5 px-8 text-base outline-none;
}

.react-tel-input.dropdownStyle {
  z-index: 2;
  @apply bg-acend-25 rounded-lg;
}

/* .react-tel-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.react-tel-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
} */
